@font-face {
  font-family: "Min Sans";
  font-weight: 700;
  src: url("../fonts/MinSans-Bold.woff2") format("woff2");
  src: url("../fonts/MinSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Min Sans";
  font-weight: 500;
  src: url("../fonts/MinSans-Medium.woff2") format("woff2");
  src: url("../fonts/MinSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Min Sans";
  font-weight: 400;
  src: url("../fonts/MinSans-Regular.woff2") format("woff2");
  src: url("../fonts/MinSans-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
  font-style: normal;
  word-break: keep-all;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: baseline;
  background-color: transparent;
}

a, a:hover, a:active, button {
  cursor: pointer;
  color: #000;
}

section {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
section article {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 20px 20px 20px;
}

body {
  font-family: "neue-haas-grotesk-text", "Min Sans", sans-serif;
  line-height: 1.2;
}

.ko {
  font-family: "Min Sans", sans-serif;
  letter-spacing: -0.05pt;
  line-height: 1.5;
}

.en {
  font-family: "neue-haas-grotesk-text", sans-serif;
  letter-spacing: 0.1pt;
  line-height: 1.3;
}

header,
header .lang,
footer {
  color: #FFFFFF;
}

header {
  letter-spacing: 0.2pt;
}
header .lang {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.8;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: #FFF;
}
header .header-rolling,
header .header-rolling .post-wrapper div {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: #FFF;
}

.menu-m a {
  font-weight: 500;
  font-size: 26px;
  color: #FFFFFF;
}

footer {
  font-size: 14px;
}
footer a, footer a:hover, footer a:active {
  color: #2e3df5;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: #2e3df5;
  text-decoration-thickness: 1px;
}

section .title h1 {
  font-weight: 700;
  font-size: 30px;
}
section .title p {
  font-weight: 500;
  font-size: 14px;
}
section .title p.ko {
  line-height: 1.4;
}
section .title p.en {
  line-height: 1.2;
}

section.main h1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.1;
}

section.technology {
  color: #2e3df5;
}
section.technology article.demo {
  color: #FFF;
}
section.technology article.demo .demo-inner.top {
  font-weight: 500;
  font-size: 14px;
}
section.technology article.demo .demo-inner.bottom {
  font-weight: 400;
  font-size: 14px;
}

section.pub-n-awards.only-m .title h1 {
  letter-spacing: -0.5pt;
}
section.pub-n-awards.only-m li h2 {
  font-weight: 700;
  font-size: 14px;
}
section.pub-n-awards.only-m li p {
  font-size: 10px;
}
section.pub-n-awards.only-m li a {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #888;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: #2e3df5;
}

section.usecases h2 {
  font-size: 24px;
  font-weight: 700;
}
section.usecases h3 {
  font-size: 16px;
  font-weight: 500;
}
section.usecases p {
  font-size: 14px;
}

section.contact {
  color: #FFFFFF;
}
section.contact a {
  font-weight: 500;
}
section.contact .process h1 {
  font-weight: 700;
  font-size: 30px;
  color: #2e3df5;
}
section.contact .process h2 {
  font-weight: 700;
  font-size: 24px;
}
section.contact .process p {
  font-weight: 500;
  font-size: 14px;
}
section.contact .process a {
  font-size: 13px;
  text-align: center;
}
section.contact .steps ul h3 {
  font-weight: 700;
  font-size: 18px;
}
section.contact .steps ul h3.en, section.contact .steps ul h3.ko {
  line-height: 1;
}
section.contact .steps ul div {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #000000;
}
section.contact .necessity a {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: #FFFFFF;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-color: #2e3df5;
}
section.contact .more {
  font-weight: 500;
  text-align: center;
}
section.contact .more p {
  font-size: 16px;
}
section.contact .more a {
  font-size: 20px;
  color: #000000;
}

section.people h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.2;
  color: #2e3df5;
}

section.vision h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #2e3df5;
}
section.vision p.ko {
  line-height: 1.5;
}
section.vision p.en {
  line-height: 1.3;
  font-weight: 500;
  font-size: 16px;
}

section.history .column {
  font-weight: 700;
  font-size: 13px;
}
section.history .column,
section.history .column .en,
section.history .column .ko,
section.history .history-li,
section.history .history-li .en,
section.history .history-li .ko {
  line-height: 1;
}

section.ethics p, section.ethics li {
  line-height: 1.5;
}
section.ethics p {
  font-weight: 500;
  font-size: 16px;
}
section.ethics li h2 {
  font-weight: 700;
  font-size: 18px;
}
section.ethics li p {
  font-weight: 500;
  font-size: 16px;
}
section.ethics h2.ko, section.ethics p.ko {
  line-height: 1.5;
}
section.ethics h2.en, section.ethics p.en {
  line-height: 1.3;
}

section.team .random {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
}
section.team .random .random-ko {
  font-family: "Min Sans", sans-serif;
  letter-spacing: -0.05pt;
}
section.team .random .random-en {
  font-family: "neue-haas-grotesk-text", sans-serif;
  letter-spacing: 0pt;
}
section.team .click-caption {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
section.team button.view-all {
  font-weight: 700;
  font-size: 20px;
  color: #EAEAEA;
}
section.team .member-li {
  text-align: center;
}
section.team .member-li p {
  font-weight: 700;
  font-size: 14px;
}
section.team .member-li p.en {
  font-size: 12px;
  white-space: nowrap;
}
section.team .member-li p:last-child {
  font-weight: 400;
  font-size: 10px;
}

section.join p {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
}
section.join .p-2 {
  color: #2e3df5;
}
section.join .p-3 {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #2e3df5;
}
section.join a {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
section.join a:last-child {
  color: #2e3df5;
}

section.join,
section.media,
section.channel,
section.channel a {
  color: #FFFFFF;
}

section.media ul li p {
  font-weight: 700;
  font-size: 20px;
  color: #EAEAEA;
}
section.media ul li p.ko {
  line-height: 1.4;
}
section.media ul li p.en {
  line-height: 1.2;
}
section.media ul li p:nth-child(2) {
  font-weight: 500;
  font-size: 14px;
}
section.media ul li p:nth-child(2).ko {
  line-height: 1.5;
}
section.media ul li p:nth-child(2).en {
  line-height: 1.3;
}
section.media ul li p:nth-child(3) {
  font-weight: 400;
  font-size: 12px;
}

section.news .news-k li p {
  font-weight: 700;
  font-size: 20px;
}
section.news .news-k li p:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
}
section.news .news-k li p a.ko {
  line-height: 1.4;
}
section.news .news-k li p a.en {
  line-height: 1.2;
}

section.channel .news-g li p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
section.channel .news-g li p:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background: #000;
  z-index: 1000;
}
header article {
  position: relative;
}
header .logo {
  position: absolute;
  top: 16px;
  left: 20px;
  height: 24px;
}
header .lang {
  position: absolute;
  top: 19px;
  right: 20px;
  cursor: pointer;
}
header .header-rolling,
header .header-rolling .post-wrapper {
  position: absolute;
  top: 7px;
  right: 30px;
  width: 60px;
  font-family: "neue-haas-grotesk-text", "Min Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #FFF;
  z-index: 1001;
}
header .header-rolling a,
header .header-rolling .post-wrapper a {
  color: #FFF;
}
header .header-rolling div,
header .header-rolling .post-wrapper div {
  height: 30px;
}
header .menu-toggle {
  position: absolute;
  top: 17px;
  right: 24px;
}
header .menu {
  display: none;
}
header .progress-wrap {
  position: absolute;
  top: 54px;
  width: 100%;
  height: 4px;
  background: #000;
}
header .progress-wrap .progress {
  width: 0;
  height: 4px;
  background: #2e3df5;
}

.menu-m {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 58px;
  right: 0;
  width: 300px;
  height: 100%;
  padding: 56px 48px;
  background: #000000;
  z-index: 1001;
  transition: right 0.2s;
}
.menu-m .menu-toggle {
  position: absolute;
  top: 19px;
  right: 24px;
}
.menu-m a {
  margin-bottom: 12px;
}
.menu-m.close {
  right: -300px;
}

footer {
  display: flex;
  align-items: center;
  height: 178px;
  background: #000000;
  border-top: solid 3px #2e3df5;
}
footer article {
  width: 100%;
  padding: 0 22px;
}
footer article div {
  position: relative;
  width: 100%;
  padding: 8px 0;
  border-bottom: solid 3px #EAEAEA;
}
footer article div:last-child {
  border: none;
}
footer article div a {
  position: absolute;
  top: 8px;
  right: 0;
}

section .title {
  margin: 40px 0 30px 0;
}
section .title h1 {
  padding-bottom: 6px;
  border-bottom: solid 3px #000000;
}
section .title p {
  margin-top: 12px;
}
section .title.no-p {
  margin-bottom: 0;
}

.only-pc {
  display: none;
}

section.pub-n-awards,
section.usecases,
section.vision,
section.history,
section.team,
section.news {
  background: #EAEAEA;
}

section.contact,
section.join,
section.media,
section.channel {
  background: #000000;
}
section.contact .title h1,
section.join .title h1,
section.media .title h1,
section.channel .title h1 {
  border-bottom: solid 3px #FFFFFF;
}

section.main {
  height: 70vh;
  margin-top: 58px;
  background: #000000;
  user-select: none;
}
section.main article {
  height: 0;
  padding: 0;
}
section.main article h1 {
  position: absolute;
  top: 16px;
  left: 18px;
  z-index: 100;
}
section.main article h1 span {
  background: #fff;
  padding: 4px 10px;
  line-height: 1.7;
}
section.main article .rolling .post {
  transition: opacity 0.5s;
}
section.main article .rolling .slick-slide {
  opacity: 1;
}
section.main article .rolling .slick-active {
  opacity: 1;
}
section.main article video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.main .main-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/main/01.png") center/cover no-repeat;
}

section.technology {
  background: #000;
}
section.technology article {
  padding: 0 20px;
}
section.technology article .title {
  margin-bottom: 70px;
}
section.technology article .title h1 {
  border-bottom: solid 3px #2e3df5;
}
section.technology article.demo {
  padding: 0;
}
section.technology article.demo img {
  height: 26px;
  margin-bottom: 4px;
}
section.technology article.demo .demo-inner {
  padding: 0 20px;
}
section.technology article.demo .demo-inner.top {
  margin-top: 12px;
  margin-bottom: 28px;
}
section.technology article.demo .demo-inner.bottom {
  margin-bottom: 70px;
}
section.technology article.demo .dbpq-wrap {
  position: relative;
  width: 100%;
  padding-bottom: calc(56.25% + 87px);
  margin-bottom: 12px;
}
section.technology article.demo .dbpq-wrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
section.technology article.demo .dbpq-wrap-slider {
  position: relative;
  width: 100%;
  padding-bottom: calc(56.25% + 120px);
  margin-bottom: 12px;
}
section.technology article.demo .dbpq-wrap-slider iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
section.technology article.demo .video {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  margin-bottom: 12px;
}
section.technology article.demo .video iframe, section.technology article.demo .video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.pub-n-awards.only-m ul {
  border-bottom: solid 1px #000000;
}
section.pub-n-awards.only-m ul li {
  padding: 18px 0;
  border-bottom: solid 1px #000000;
}
section.pub-n-awards.only-m ul li h2 {
  padding-bottom: 8px;
}
section.pub-n-awards.only-m ul li h2.award {
  padding-bottom: 16px;
}
section.pub-n-awards.only-m ul li p {
  padding-bottom: 16px;
}
section.pub-n-awards.only-m ul li a {
  display: block;
  margin: 0 auto;
}
section.pub-n-awards.only-m ul li img {
  margin-bottom: 12px;
}
section.pub-n-awards.only-m ul .more {
  height: auto;
  overflow: hidden;
  transition: height 2s ease;
}
section.pub-n-awards.only-m ul .more.hidden {
  height: 0;
  transition: height 2s ease;
}
section.pub-n-awards.only-m .more-btn {
  padding: 24px 24px 0 24px;
}

section.usecases .title {
  margin-bottom: 26px;
}
section.usecases h2 {
  padding-bottom: 6px;
}
section.usecases h3 {
  padding-bottom: 8px;
}
section.usecases p {
  padding-bottom: 32px;
}
section.usecases .more {
  height: auto;
  overflow: hidden;
  transition: height 2s ease;
  border-bottom: solid 2px #000000;
}
section.usecases .more.hidden {
  height: 0;
  transition: height 2s ease;
}
section.usecases .more-btn {
  padding: 24px 24px 0 24px;
}

section.trustedby {
  background: #D6D6D6;
}
section.trustedby picture {
  width: 90%;
  margin: 24px auto 40px auto;
}
section.trustedby picture img {
  width: 100%;
}

section.contact.only-m .title h1 {
  padding-bottom: 10px;
}
section.contact.only-m .process {
  margin: 16px 0;
}
section.contact.only-m .process h1 {
  margin-bottom: 18px;
}
section.contact.only-m .process h2 {
  margin-bottom: 15px;
}
section.contact.only-m .process p {
  margin-bottom: 15px;
}
section.contact.only-m .steps {
  margin-bottom: 20px;
  border-bottom: solid 1px #FFFFFF;
}
section.contact.only-m .steps ul {
  position: relative;
  padding-right: 8px;
  margin: 30px 0 0 20px;
  border-left: solid 3px #2e3df5;
}
section.contact.only-m .steps ul h3 {
  margin-bottom: 10px;
}
section.contact.only-m .steps ul h3:last-child {
  margin-bottom: 50px;
}
section.contact.only-m .steps ul p {
  margin-bottom: 40px;
}
section.contact.only-m .steps ul li {
  position: relative;
  padding-left: 34px;
}
section.contact.only-m .steps ul li div {
  position: absolute;
  top: -7px;
  left: -18px;
  width: 34px;
  height: 34px;
  padding-top: 7px;
  border-radius: 20px;
  background: #2e3df5;
}
section.contact.only-m .necessity {
  padding: 18px 0 18px 0;
}
section.contact.only-m .necessity p {
  padding-left: 12px;
  margin-left: 4px;
  border-left: solid 3px #FFFFFF;
}
section.contact.only-m .necessity a {
  position: relative;
  display: block;
  margin: -4px 0 21px 18px;
}
section.contact.only-m .necessity a img {
  position: absolute;
  top: 7px;
  left: 15px;
}
section.contact.only-m .necessity a.en {
  width: 300px;
}
section.contact.only-m .necessity a.en img {
  top: 5px;
  left: 15px;
}
section.contact.only-m .more {
  padding: 48px 0 30px 0;
  border-top: solid 1px #FFF;
}
section.contact.only-m .more p {
  margin-bottom: 20px;
}
section.contact.only-m .more a {
  display: block;
  width: 240px;
  padding: 12px 0;
  margin: 0 auto;
  margin-bottom: 58px;
  border-radius: 50px;
  background: #1239D1;
}
section.contact.only-m .more a:last-child {
  background: #2e3df5;
  margin-bottom: 0;
}

section.people {
  height: 650px;
  margin-top: 58px;
  border: solid 22px #2e3df5;
  background: url("../people/images/people-m.png");
  background-size: cover;
  background-position: center;
}
section.people article h1 {
  position: absolute;
  top: 14px;
  left: 22px;
}

section.vision h2 {
  padding: 24px 0;
  margin-bottom: 24px;
  border-bottom: solid 3px #2e3df5;
}
section.vision .p-1 {
  margin: 0 0 16px 0;
}
section.vision .p-2 {
  margin: 0 0 12px 0;
}

section.history .column {
  display: flex;
  flex-flow: row nowrap;
  padding: 16px 0;
  border-bottom: solid 1px #000;
}
section.history .column div:nth-child(1) {
  width: 50px;
}
section.history .column div:nth-child(2) {
  width: 100%;
}
section.history .more {
  height: auto;
  overflow: hidden;
  border-bottom: solid 1px #000;
  transition: height 2s ease;
}
section.history .more.hidden {
  height: 0;
  transition: height 2s ease;
}
section.history .more-btn {
  padding: 24px 24px 0 24px;
}

section.ethics {
  background: #FCFE54;
  padding-bottom: 8px;
}
section.ethics p {
  margin-top: 26px;
  margin-bottom: 20px;
}
section.ethics li {
  padding-left: 20px;
  margin-top: 40px;
  border-left: solid 3px #000;
}
section.ethics li p {
  margin-top: 8px;
}

section.team .random {
  height: 343px;
  padding: 4px 12px;
  border: solid 10px #2e3df5;
  user-select: none;
}
section.team .random em {
  color: #2e3df5;
}
section.team .random em.name {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
section.team .random em.name:hover {
  color: #fff;
}
section.team .click-caption {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 6px;
  cursor: pointer;
  user-select: none;
  margin: -62px 22px 26px 0;
}
section.team .click-caption .blank {
  width: 100%;
}
section.team button.view-all {
  display: block;
  width: 180px;
  padding: 12px 0;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 24px;
  border-radius: 50px;
  background: #2e3df5;
}
section.team .member-ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  min-height: 168px;
  padding: 0 2px;
  margin: 0 auto;
}
section.team .member-ul.hidden {
  height: 168px;
  overflow: hidden;
}
section.team .member-ul .member-li {
  width: 98px;
  height: 168px;
  margin: 0 6px;
  cursor: pointer;
}
section.team .member-ul .member-li .member-img {
  width: 100%;
  border-radius: 100%;
  border: solid 3px #9F9F9F;
}
section.team .member-ul .member-li.hide {
  display: none;
}
section.team .member-ul .member-li p {
  margin-top: 4px;
  margin-bottom: 2px;
}
section.team .member-ul .member-li p:last-child {
  margin: 0 0 20px 0;
}
section.team .member-ul .member-li.air {
  height: 0px;
}
section.team .member-ul .member-li.air.hide {
  display: block;
  height: 0px;
}
section.team .member-ul .member-hidden {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}
section.team .member-filter {
  display: flex;
  flex-flow: row wrap;
  max-width: 680px;
  padding: 0 4px;
  margin: 32px auto;
}
section.team .member-filter .filter {
  font-family: "neue-haas-grotesk-text", "Min Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: auto;
  padding: 6px 12px;
  margin: 4px 2px;
  border: solid 2px #000;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
}
section.team .member-filter .filter.checked {
  background: white;
}

div.team-detail-wrap {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 58px);
  margin-top: 58px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 500;
}
div.team-detail-wrap.show {
  display: flex;
}
div.team-detail-wrap .team-detail {
  position: relative;
  width: calc(100% - 80px);
  max-width: 900px;
  height: calc(100% - 80px);
  max-height: 1000px;
  background: #2e3df5;
  margin: 40px;
  border-radius: 4px;
}
div.team-detail-wrap .team-detail .team-detail-inner {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow-y: scroll;
}
div.team-detail-wrap .team-detail img.close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  cursor: pointer;
}
div.team-detail-wrap .team-detail .team-detail-profile-wrap {
  display: flex;
  flex-flow: column nowrap;
  background: #EAEAEA;
}
div.team-detail-wrap .team-detail .team-detail-profile-wrap h1,
div.team-detail-wrap .team-detail .team-detail-profile-wrap h2 {
  line-height: 1;
}
div.team-detail-wrap .team-detail .team-detail-profile-wrap .team-detail-name-ko,
div.team-detail-wrap .team-detail .team-detail-profile-wrap .team-detail-name-en {
  margin-bottom: 12px;
}
div.team-detail-wrap .team-detail .team-detail-profile-wrap .team-detail-role {
  margin-bottom: 32px;
}
div.team-detail-wrap .team-detail .team-detail-img {
  width: 100%;
  max-width: 400px;
  padding: 40px 60px 20px 60px;
  margin: 0 auto;
}
div.team-detail-wrap .team-detail .team-detail-img img {
  width: 100%;
  border-radius: 1000px;
  border: solid 4px #9F9F9F;
}
div.team-detail-wrap .team-detail h1 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
div.team-detail-wrap .team-detail h2 {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
div.team-detail-wrap .team-detail p {
  font-weight: 700;
  font-size: 24px;
  padding: 4px 12px;
  margin: 12px;
  background: #EAEAEA;
}
div.team-detail-wrap .team-detail p em {
  color: #2e3df5;
}
div.team-detail-wrap .team-detail.ko .team-detail-name-en,
div.team-detail-wrap .team-detail.ko .team-detail-text-1-en,
div.team-detail-wrap .team-detail.ko .team-detail-text-2-en,
div.team-detail-wrap .team-detail.ko .team-detail-text-3-en,
div.team-detail-wrap .team-detail.ko .team-detail-text-4-en,
div.team-detail-wrap .team-detail.ko .team-detail-text-5-en,
div.team-detail-wrap .team-detail.ko .team-detail-text-4-ko,
div.team-detail-wrap .team-detail.ko .team-detail-text-5-ko {
  display: none;
}
div.team-detail-wrap .team-detail.ko .team-detail-name-ko,
div.team-detail-wrap .team-detail.ko .team-detail-text-1-ko,
div.team-detail-wrap .team-detail.ko .team-detail-text-2-ko,
div.team-detail-wrap .team-detail.ko .team-detail-text-3-ko,
div.team-detail-wrap .team-detail.ko .team-detail-text-4-ko.show,
div.team-detail-wrap .team-detail.ko .team-detail-text-5-ko.show {
  display: block;
}
div.team-detail-wrap .team-detail.en .team-detail-name-ko,
div.team-detail-wrap .team-detail.en .team-detail-text-1-ko,
div.team-detail-wrap .team-detail.en .team-detail-text-2-ko,
div.team-detail-wrap .team-detail.en .team-detail-text-3-ko,
div.team-detail-wrap .team-detail.en .team-detail-text-4-ko,
div.team-detail-wrap .team-detail.en .team-detail-text-5-ko,
div.team-detail-wrap .team-detail.en .team-detail-text-4-en,
div.team-detail-wrap .team-detail.en .team-detail-text-5-en {
  display: none;
}
div.team-detail-wrap .team-detail.en .team-detail-name-en,
div.team-detail-wrap .team-detail.en .team-detail-text-1-en,
div.team-detail-wrap .team-detail.en .team-detail-text-2-en,
div.team-detail-wrap .team-detail.en .team-detail-text-3-en,
div.team-detail-wrap .team-detail.en .team-detail-text-4-en.show,
div.team-detail-wrap .team-detail.en .team-detail-text-5-en.show {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

section.join .join-diagram {
  width: 264px;
  margin: 30px auto 24px auto;
}
section.join .join-cards {
  margin-bottom: 46px;
}
section.join .p-1 {
  margin: 40px 0 40px 0;
}
section.join .p-1 em {
  border-bottom: solid 2px #FFF;
}
section.join .p-2 {
  margin-bottom: 46px;
}
section.join .p-2 em {
  border-bottom: solid 2px #2e3df5;
}
section.join .divider {
  width: 196px;
  margin: 48px auto 40px auto;
  border-bottom: solid 3px #2e3df5;
}
section.join .p-3 {
  margin-bottom: 16px;
}
section.join a {
  width: 272px;
  padding: 12px 0;
  margin: 0 auto;
  border-radius: 50px;
  background: #2e3df5;
}
section.join a:last-child {
  margin-bottom: 46px;
  border: solid 3px #2e3df5;
  background: #000;
}

section.media {
  margin-top: 54px;
}
section.media ul li {
  padding: 30px 0;
  border-bottom: solid 1px #FFF;
}
section.media ul li:last-child {
  border-bottom: none;
}
section.media ul li p {
  margin-bottom: 12px;
}
section.media ul li p:nth-child(3) {
  margin-bottom: 20px;
}
section.media ul li .video {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  margin-bottom: 10px;
  background: #000;
}
section.media ul li .video iframe, section.media ul li .video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.news .news-k li {
  padding: 30px 0;
  border-bottom: solid 1px #000;
}
section.news .news-k li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
section.news .news-k li p {
  margin-bottom: 8px;
}
section.news .news-k li p:nth-child(2) {
  margin-bottom: 20px;
}

section.channel {
  padding-bottom: 26px;
}
section.channel .title h1 {
  padding-bottom: 10px;
}
section.channel picture {
  margin: 34px auto;
}
section.channel picture img {
  width: 270px;
}
section.channel .news-g li {
  padding: 24px 0 30px 0;
  border-bottom: solid 1px #FFF;
}
section.channel .news-g li p:nth-child(1) {
  margin-bottom: 12px;
}

section.proposal {
  margin-top: 58px;
  background: #d6d6d6;
}
section.proposal article {
  padding: 14px 20px 14px 20px;
}

@media all and (min-width: 900px) {
  section,
header,
footer {
    width: 100%;
    margin: 0 auto;
  }
  section article,
header article,
footer article {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
  }
  header article .menu {
    display: flex;
    position: absolute;
    top: 15px;
    right: 80px;
  }
  header article .menu a {
    font-size: 18px;
    color: #FFF;
    margin-left: 50px;
  }
  header article .menu a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: #FFF;
  }
  section article {
    padding: 10px 20px 60px 20px;
  }
  section article .title {
    margin: 60px 0;
  }
  section article .title h1 {
    padding-bottom: 16px;
    border-bottom: solid 3px #000000;
  }
  section article .title p {
    margin-top: 12px;
  }
  section article .title h1 {
    font-size: 44px;
  }
  section article .title p {
    font-size: 18px;
  }
  .only-pc {
    display: block;
  }
  .only-m {
    display: none;
  }
  section.main {
    height: calc(100vh - 58px);
  }
  section.main article h1 {
    font-size: 90px;
  }
  section.main article h1 span {
    padding: 4px 18px;
    line-height: 1.6;
  }
  section.technology article .title {
    margin-bottom: 120px;
  }
  section.technology article.demo {
    display: flex;
    flex-flow: row nowrap;
  }
  section.technology article.demo img {
    height: 38px;
    margin-bottom: 10px;
  }
  section.technology article.demo .demo-inner.top {
    width: 400px;
    margin-top: 12px;
    margin-bottom: 40px;
    font-size: 16px;
  }
  section.technology article.demo .demo-inner.bottom {
    padding: 0;
    margin-bottom: 120px;
    font-size: 19px;
  }
  section.technology article.demo .demo-inner-pc {
    width: 100%;
  }
  section.technology article.demo .dbpq-wrap {
    margin-bottom: 36px;
  }
  section.technology article.demo .dbpq-wrap-slider {
    margin-bottom: 36px;
  }
  section.technology article.demo .video {
    margin-bottom: 36px;
  }
  section.pub-n-awards.only-pc article {
    padding-bottom: 0;
  }
  section.pub-n-awards.only-pc article .pna-inner-wrap {
    display: flex;
    flex-flow: row nowrap;
  }
  section.pub-n-awards.only-pc article .pna-inner-wrap .pna-inner {
    width: 50%;
  }
  section.pub-n-awards.only-pc article .pna-inner-wrap .pna-inner:nth-child(1) {
    padding-right: 30px;
    padding-top: 15px;
  }
  section.pub-n-awards.only-pc article .pna-inner-wrap .pna-inner:nth-child(2) {
    padding-left: 30px;
  }
  section.pub-n-awards.only-pc article .pna-inner-wrap .pna-inner ul li {
    padding: 32px 0 36px 0;
    border-bottom: solid 1px #000;
  }
  section.pub-n-awards.only-pc article .pna-inner-wrap .pna-inner ul li a {
    display: block;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 20px;
  }
  section.pub-n-awards.only-pc article .pna-inner-wrap .pna-inner ul li a.no-p {
    padding-bottom: 0;
  }
  section.pub-n-awards.only-pc article .pna-inner-wrap .pna-inner ul li p {
    font-size: 12px;
  }
  section.usecases article .title {
    margin-bottom: 48px;
  }
  section.usecases article h2 {
    font-size: 32px;
    padding-bottom: 8px;
  }
  section.usecases article h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  section.usecases article p {
    font-size: 16px;
    padding-bottom: 55px;
  }
  section.contact.only-pc article .process h2 {
    font-size: 44px;
    color: #2e3df5;
    padding-bottom: 40px;
  }
  section.contact.only-pc article .process .necessity {
    border-bottom: solid 1px #FFF;
  }
  section.contact.only-pc article .process .necessity h2 {
    font-size: 24px;
    color: #FFF;
    padding-bottom: 20px;
  }
  section.contact.only-pc article .process .necessity .necessity-inner-wrap {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 70px;
    font-weight: 500;
    font-size: 18px;
  }
  section.contact.only-pc article .process .necessity .necessity-inner-wrap .necessity-inner {
    width: 33.3%;
    padding: 2px 14px;
    margin: 0 10px 0 3px;
    border-left: solid 3px #FFF;
  }
  section.contact.only-pc article .process .necessity .necessity-inner-wrap .necessity-inner p,
section.contact.only-pc article .process .necessity .necessity-inner-wrap .necessity-inner a {
    font-size: 18px;
  }
  section.contact.only-pc article .process .steps {
    padding-bottom: 60px;
    border-bottom: solid 1px #FFF;
  }
  section.contact.only-pc article .process .steps ul {
    display: flex;
    flex-flow: row nowrap;
  }
  section.contact.only-pc article .process .steps ul.step-number {
    margin: 82px 22px 48px 22px;
  }
  section.contact.only-pc article .process .steps ul.step-number li {
    position: relative;
    width: 25%;
    border-top: solid 3px #2e3df5;
  }
  section.contact.only-pc article .process .steps ul.step-number li div {
    position: absolute;
    top: -22px;
    width: 44px;
    height: 44px;
    padding-top: 9px;
    border-radius: 50px;
    background: #2e3df5;
    font-weight: 700;
    font-size: 24px;
  }
  section.contact.only-pc article .process .steps ul.step-number li div.step-left {
    left: -22px;
  }
  section.contact.only-pc article .process .steps ul.step-number li div.step-5 {
    right: -22px;
  }
  section.contact.only-pc article .process .steps ul li {
    position: relative;
    width: calc(25% - 11px);
  }
  section.contact.only-pc article .process .steps ul li h3 {
    font-size: 24px;
    padding-bottom: 24px;
  }
  section.contact.only-pc article .process .steps ul li h3.step-5 {
    position: absolute;
    top: 0;
    right: -40px;
  }
  section.contact.only-pc article .process .steps ul li p {
    width: calc(100% - 60px);
    font-weight: 500;
    font-size: 18px;
  }
  section.contact.only-pc article .process .process-bottom .brief-wrap p {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 80px 0 24px 0;
  }
  section.contact.only-pc article .process .process-bottom .brief-wrap a {
    display: block;
    width: 340px;
    min-width: 340px;
    height: 63px;
    padding: 14px 0 14px 0;
    margin: 0 auto;
    background: #2e3df5;
    border-radius: 50px;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 24px;
  }
  section.people {
    height: calc(100vh - 58px);
    min-height: 750px;
    margin-top: 58px;
    border: solid 28px #2e3df5;
    background: url("../people/images/people-pc.png");
    background-size: cover;
    background-position: center;
  }
  section.people article h1 {
    position: absolute;
    top: 28px;
    left: 20px;
    font-size: 80px;
  }
  section.vision article .vision-inner-wrap {
    display: flex;
    flex-flow: row nowrap;
  }
  section.vision article .vision-inner-wrap > div {
    width: 50%;
  }
  section.vision article .vision-inner-wrap > div:nth-child(1) {
    padding-right: 30px;
  }
  section.vision article .vision-inner-wrap > div:nth-child(2) {
    padding-left: 30px;
  }
  section.vision article .vision-inner-wrap > div h2 {
    padding: 0 0 58px 0;
    margin-bottom: 65px;
    font-size: 44px;
  }
  section.vision article .vision-inner-wrap > div p {
    font-size: 18px;
  }
  section.history article .history-inner-wrap {
    display: flex;
    flex-flow: row nowrap;
    font-weight: 500;
    font-size: 18px;
  }
  section.history article .history-inner-wrap .history-inner {
    width: 50%;
    padding: 36px 0;
  }
  section.history article .history-inner-wrap .history-inner.left {
    padding-right: 30px;
  }
  section.history article .history-inner-wrap .history-inner.right {
    padding-left: 30px;
  }
  section.history article .history-inner-wrap .history-inner .history-li {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: solid 1px #000;
    padding: 36px 0;
  }
  section.history article .history-inner-wrap .history-inner .history-li .history-year {
    width: 66px;
  }
  section.history article .history-inner-wrap .history-inner .history-li .history-content {
    width: 100%;
  }
  section.history article .history-inner-wrap .history-inner .history-li:last-child {
    border: none;
  }
  section.ethics article {
    padding-bottom: 70px;
  }
  section.ethics article .ethics-inner-wrap {
    display: flex;
    flex-flow: row nowrap;
  }
  section.ethics article .ethics-inner-wrap > div {
    width: 50%;
  }
  section.ethics article .ethics-inner-wrap > div:nth-child(1) {
    padding-right: 30px;
  }
  section.ethics article .ethics-inner-wrap > div:nth-child(2) {
    padding-left: 30px;
  }
  section.ethics article .ethics-inner-wrap p {
    margin-top: 0;
  }
  section.ethics article .ethics-inner-wrap h2, section.ethics article .ethics-inner-wrap p {
    font-size: 18px;
  }
  section.team .random {
    height: 878px;
    padding: 8px 24px;
    font-size: 80px;
    border: solid 12px #2e3df5;
    cursor: pointer;
  }
  section.team .random em {
    color: #2e3df5;
  }
  section.team .random em.name {
    text-underline-offset: 0.6rem;
  }
  section.team .click-caption {
    font-size: 80px;
    line-height: 1;
    margin: -62px 16px 0 0;
  }
  section.team .click-caption span {
    margin: -62px 22px 44px 0;
  }
  section.team button.view-all {
    display: block;
    width: 260px;
    height: 63px;
    padding: 12px 0 14px 0;
    margin: 48px auto 24px auto;
    border-radius: 50px;
    background: #2e3df5;
    font-size: 26px;
  }
  section.team .member-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 840px;
    min-height: 456px;
    padding: 0 2px;
    margin: 0 auto;
  }
  section.team .member-ul.hidden {
    height: 456px;
    overflow: hidden;
  }
  section.team .member-ul .member-li {
    width: 130px;
    height: 228px;
  }
  section.team .member-ul .member-li .member-img {
    width: 100%;
    border-radius: 100%;
    border: solid 3px #9F9F9F;
  }
  section.team .member-ul .member-li p {
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 20px;
  }
  section.team .member-ul .member-li p.en {
    font-size: 16px;
    white-space: nowrap;
  }
  section.team .member-ul .member-li p:last-child {
    margin: 0 0 40px 0;
    font-size: 12px;
  }
  section.team .member-filter {
    max-width: 840px;
    padding: 0 2px;
    margin: 60px auto;
  }
  section.team .member-filter .filter {
    font-size: 16px;
    padding: 8px 24px;
    margin: 6px 4px;
  }
  div.team-detail-wrap .team-detail {
    border-radius: 6px;
  }
  div.team-detail-wrap .team-detail .team-detail-inner {
    border-radius: 6px;
  }
  div.team-detail-wrap .team-detail .team-detail-profile-wrap .team-detail-img {
    padding: 60px 60px 28px 60px;
  }
  div.team-detail-wrap .team-detail .team-detail-profile-wrap .team-detail-name-ko,
div.team-detail-wrap .team-detail .team-detail-profile-wrap .team-detail-name-en {
    margin-bottom: 12px;
  }
  div.team-detail-wrap .team-detail .team-detail-profile-wrap .team-detail-role {
    margin-bottom: 58px;
  }
  div.team-detail-wrap .team-detail h1 {
    font-size: 50px;
  }
  div.team-detail-wrap .team-detail h2 {
    font-size: 24px;
  }
  div.team-detail-wrap .team-detail p {
    font-size: 50px;
    padding: 8px 22px;
    margin: 24px;
  }
  section.join article {
    padding-bottom: 94px;
  }
  section.join article .join-inner-wrap {
    display: flex;
    flex-flow: row nowrap;
    margin: 100px 0;
  }
  section.join article .join-inner-wrap .join-inner.left {
    width: 100%;
  }
  section.join article .join-inner-wrap .join-inner.right {
    width: 600px;
    padding: 0 30px;
  }
  section.join article .join-inner-wrap .join-inner p {
    font-size: 32px;
  }
  section.join article .join-inner-bottom {
    display: flex;
    flex-flow: row nowrap;
  }
  section.join article .join-inner-bottom a {
    width: 360px;
    min-width: 360px;
    height: 63px;
    padding: 12px 0 14px 0;
    margin: 0;
    border-radius: 50px;
    border: solid 3px #2e3df5;
    background: #2e3df5;
    font-size: 26px;
  }
  section.join article .join-inner-bottom a:last-child {
    border: solid 3px #2e3df5;
    background: #000;
  }
  section.join article .join-inner-bottom .mail-text {
    width: 100%;
    padding: 22px 22px;
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    color: #2e3df5;
  }
  section.media article {
    padding-bottom: 110px;
  }
  section.media article ul {
    display: flex;
    flex-flow: row wrap;
  }
  section.media article ul li {
    width: 50%;
    padding: 80px 20px 0 20px;
    border-bottom: none;
  }
  section.media article ul li .video-title {
    min-height: 120px;
  }
  section.media article ul li .video-title p {
    margin-bottom: 6px;
  }
  section.media article ul li .video-title p:nth-child(3) {
    margin-bottom: 10px;
  }
  section.media article ul li .video-title p:nth-child(1) {
    font-size: 24px;
  }
  section.news article {
    padding-bottom: 110px;
  }
  section.news article .news-k {
    display: flex;
    flex-flow: row wrap;
  }
  section.news article .news-k li {
    width: 50%;
    padding: 80px 20px 0 20px;
    border-bottom: none;
  }
  section.news article .news-k li .news-title {
    min-height: 120px;
  }
  section.news article .news-k li p:nth-child(1) {
    font-size: 24px;
  }
  section.channel {
    padding-bottom: 50px;
  }
  section.channel .title h1 {
    padding-bottom: 22px;
  }
  section.channel picture {
    margin: 98px auto 72px auto;
  }
  section.channel picture img {
    width: 1180px;
  }
  section.channel .news-g {
    display: flex;
    flex-flow: row wrap;
  }
  section.channel .news-g li {
    width: calc(50% - 40px);
    padding: 24px 0 30px 0;
    margin: 0 20px;
    border-bottom: solid 1px #FFF;
  }
  section.channel .news-g li p:nth-child(1) {
    margin-bottom: 12px;
  }
}